@model Dev.Application.ViewModels.ContatoViewModel

@{
    ViewData["Title"] = "Excluir Contato";
}

<h1>@ViewData["Title"]</h1>



<div>
    <h4>Esta ação será permanente!</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-10">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dt class="col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dt>

        <dt class="col-sm-10">
            @Html.DisplayNameFor(model => model.TelefoneResidencial)
        </dt>
        <dt class="col-sm-10">
            @Html.DisplayFor(model => model.TelefoneResidencial)
        </dt>

        <dt class="col-sm-10">
            @Html.DisplayNameFor(model => model.Celular)
        </dt>
        <dt class="col-sm-10">
            @Html.DisplayFor(model => model.Celular)
        </dt>

    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Excluir" class="btn btn-danger" />
        <a class="btn btn-info" asp-action="Index">Voltar</a>
    </form>
</div>